.popup__notification {    
  text-align: center;
  margin: 0;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 23px;
}

@media screen and (max-width: 620px) {
  .popup__notification {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 13px;
  }
}
